/*
 Estilos para Cinema - Web
*/

h1, h2{
  color: #BD1133;
  margin-top: 30px;
}

h4, h3{
	margin-bottom: 25px;
	font-weight: bold;
}

p {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: white;
}
a:hover,
a:focus {
  color:white;
}

/*CONTENEDORES*/
.container {
  background-color: #F1C308;
}

.row {
  margin-left: 15px;
 }

.col-md-6 {
  margin: 20px;
}

.col-md-5 {
  float: none;
  margin: 0 auto;
}

.borde-hm{
  border: 2px #BD1133 solid;
  -webkit-box-shadow: -8px -10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px -10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: -8px -10px 13px -9px rgba(0,0,0,0.75);
}
/*!CONTENEDORES*/

/*FORM*/
.form-busqueda-banner {
  height:50px;
  font-size:15px;
  margin-right:5px;
}
.form-busqueda {
  width: 70%;
  display: table-cell;
}
/*!FORM*/


/*TABLAS*/
#tableUsuario {
  border: none;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 1em;
  margin: 0 auto;
  background-color: transparent;
  color: black;
}

table {
  background-color: #BD1133; /*Bordo*/
  color:#ffcc00; /*Amarillo*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tablecirc {
  background-color: #BD1133; /*Bordo*/
  color:#ffcc00; /*Amarillo*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 15px;
}

.table tr:hover td{
  background-color: rgba(254, 254, 254, 0.2);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

table.data td.field{
	padding-right: 15px;
	color: #7E7E7E;
}

table.data td.{
	padding-bottom: 5px
}
/*!TABLA*/

#message_error {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 25px 0px 0px 0px;
    padding: 5px 5px 5px 10px
}

#message_val {
    background: #fff3f3;
    border: 1px solid green;
    color: green;
    margin: 25px 0px 0px 0px;
    padding: 5px 5px 5px 10px
}

/*MENU LATERAL USUARIO*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
.menu{
  margin:0; 
  padding:0; 
  width:200px; 
  list-style:none;
  background:rgb(189,17,51);
  font-family: 'PT Sans', sans-serif;
}
.menu li{
  padding:0; 
  margin:0 0 1px 0; 
  height:40px; 
  display:block; 
}
.menu li a{
  text-align:left;
  height:40px; 
  padding:0px 25px; 
  font-size:13px;
  color:rgb(255,204,0); 
  display:block; 
  background:url('verMenuImages.png') 0px 0px no-repeat; 
  text-decoration:none;
  font-weight: 700;
}
.menu li a:hover{
  background:url('../images/cinema-web/verMenuImages.png') 0px -40px no-repeat; color:rgb(3,3,3);
}
.menu li a.active, .menu li a.active:hover{
  background:url('../images/cinema-web/verMenuImages.png') 0px -80px no-repeat; color:rgb(3,2,0);
}
.menu li a span{
  line-height:40px;
}
/*!MENU LATERAL USUARIO*/

/*MENU PRINCIPAL*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
#cssmenu {
  background: #BD1133;
  margin: 0;
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  /*position: relative;*/
  font-family: 'PT Sans', sans-serif;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
  z-index: 100;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #ff0000;
}
#cssmenu ul li ul li.has-sub:after {
  display: block;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #000000;
  z-index: 1;
  top: 12px;
  right: 15px;
}
#cssmenu ul li ul li.has-sub:before {
  display: block;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-left-color: #ff0000;
  z-index: 2;
  top: 14px;
  right: 15px;
}
#cssmenu ul li ul li a {
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  color: black;
  letter-spacing: 0;
  display: block;
  width: 100%;
  padding: 11px 10px 11px 20px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #ffffff;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #ffffff;
}
#cssmenu ul li ul li:hover > ul {
  left: 170px;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #E70000;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: '';
  background: #ffcc00;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 15px;
}
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: '';
  border: 4px solid transparent;
  border-top-color: #e60000;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 20px;
}
#cssmenu > ul > li > a {
  color: #ffcc00;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #000000;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #000000;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #ff0000;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  display: none;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu > ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    -moz-transition: max-height 0.35s ease-out;
    -ms-transition: max-height 0.35s ease-out;
    -o-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #cssmenu > ul.open {
    max-height: 1000px;
    border-top: 1px solid rgba(110, 110, 110, 0.25);
  }
  #cssmenu ul {
    width: 100%;
  }
  #cssmenu ul > li {
    float: none;
  }
  #cssmenu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
  }
  #cssmenu ul > li:after {
    display: none;
  }
  #cssmenu ul li.has-sub > a:after,
  #cssmenu ul li.has-sub > a:before,
  #cssmenu ul li ul li.has-sub:after,
  #cssmenu ul li ul li.has-sub:before {
    display: none;
  }
  #cssmenu ul li ul,
  #cssmenu ul li ul li ul,
  #cssmenu ul li ul li:hover > ul {
    left: 0;
    position: relative;
  }
  #cssmenu ul li ul li,
  #cssmenu ul li:hover > ul > li {
    max-height: 999px;
    position: relative;
    background: none;
  }
  #cssmenu ul li ul li a {
    padding: 8px 20px 8px 35px;
    color: #ffcc00;
    width: auto;
  }
  #cssmenu ul li ul ul li a {
    padding: 8px 20px 8px 50px;
  }
  #cssmenu ul li ul li:hover > a {
    color: #000000;
  }
  #cssmenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffcc00;
    cursor: pointer;
  }
  #cssmenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffcc00;
    right: 20px;
    top: 25px;
  }
}
/*!MENU*/

/*MENU LOGIN*/
.dropdown-menu {
  background-color: #BD1133;
}

.dropdown-menu > li > a {
  color: #F1C308;
}

#loginmenu {
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    color: #ffcc00;
}
/*!MENU LOGIN*/

/*BOTONES*/
.btn-buscar {
  font-size:15px; 
  padding: 5px 10px; 
  color:white;
  background-color: #BD1133;
}
.btn-medium {
  font-size:12px; 
}
.btn-large {
  font-size:15px; 
}
.btn-crearcirculo {
  padding: 5px 10px; 
  color:white;
  background-color: #BD1133;
}

.btn-login {
  color:#ffcc00;
  border-color:#BD1133;
  background-color: #BD1133;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  color: #ffcc00;
  background-color: #9C0825;
  border-color: #9C0825;
}

/*!BOTONES*/

/*BARRAS CONTENIDO*/

.pnl-circulo {
  margin-top: 15px;
  float:right;
  width:260px;
  padding-right:1px;
}

.pnl-circuloadmin {
  float:right;
  width:260px;
  padding-right:1px;
  padding-top:30px;
}

/*!BARRAS CONTENIDO*/


div#data-display{font-size: 15px}
div#data-display .row {margin-bottom: 10px}

div.well#actions{padding: 10px; background-color: #C22141; border-color:#F58F8F; color:yellow;}
div.well#actions a{color:yellow;}
div.well#actions h4{ margin-left: 10px; text-decoration: underline; margin-bottom: 10px}
div.well#actions .row {margin-left: 0px}
div.well#actions div.col-md-6 {margin: 0px;}

div#button-bar{margin-top: 20px}
div#button-bar a {color:yellow; background-color: #BD1133 }

table#table-list{margin-top: 0px;border-radius: 0px}
table#table-list tr:hover td{border-radius: 0px}
table#table-list a {color:yellow;}


td.adjust-to-content,th.adjust-to-content{
  width: 5px;
  white-space: nowrap;
}


img.show-img{
  width: 100%;
  height: 100%;
  border: 3px solid #BD1133;
  margin-bottom:10px;
}



button.btn-cinema, a.btn-cinema{
  color: yellow;
  background-color: #BD1133;
  border-color: #d43f3
}

button.btn-cinema:hover, a.btn-cinema:hover{
  background-color: #E70935;
  color:yellow;
}


/*SLIDER HOME*/
#slider1 {
  width:300px;
  height:200px;
}
#sliderContainer { width: 300px; height: 200px; position: relative;}
.slideContent{position: absolute; bottom:0px; right:0px; width:300px; }

.slide h3 {  font: 26px/1em 'Rokkitt', serif; color: #FFF;  margin: 0 0 5px 0; }

.slide p { font-size: 14px; color: #FFF; margin: 0; }

.jFlowSlideContainer { overflow: hidden; width: 300px; height: 200px;}

.jFlowSlideContainer a { color: #F90; text-decoration: none; font-style: italic; }

.jFlowSlideContainer a:hover { text-decoration: none; }

.jFlowSlideContainer a:focus { position: relative; top: 1px; }

.jFlowNext { background:url("../images/arrows.png") no-repeat scroll 0 -35px transparent; height:130px; position:absolute; top:75px; right: -50px; width:50px; cursor:pointer; visibility:hidden; }

.jFlowPrev { background:url("../images/arrows.png") no-repeat scroll -84px -35px transparent; height:130px; position:absolute; top:75px; left: -50px; width:50px; cursor:pointer; visibility:hidden;}

.jFlowPrev:hover { background-position: -84px -235px; }

.jFlowNext:hover { background-position: -84px -235px; }


/* controller pagination */

#myController {position: absolute; top: 5px; right: 5px; }

.jFlowControl { background:url("../images/bullet.png") no-repeat scroll 0px 0px transparent;  float: left; width: 15px; height: 15px;}

.jFlowControl:hover { background-position: -32px 0px; cursor: pointer; }

.jFlowSelected, .jFlowSelected:hover {background-position: -15px 0px;   }
/*!SLIDER HOME*/



.thumbnail {
    width:115px;
    padding:0 0 0 0;
    height:166px;
    overflow: hidden; /* contain images within thumbnail boundaries */
    border: 0; /* removes Bootstrap's default border */
    box-shadow: 0 12px 12px -10px #c4c4c4;
    -webkit-box-shadow: 0 17px 22px -20px #c4c4c4;
    -moz-box-shadow: 0 12px 12px -10px #c4c4c4;
}
.thumbnail img { width:100%; height:auto; } /* to keep proportions */
.thumbnails p { text-align: center; padding: 10px; } /* captions can be styled with an inline element */
@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    /*width: 270px;*/
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
.row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
    list-style:none;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

  div#container-simple div.row{
    margin-left: 15px;
  } 