/*
 Estilos para Cinema - Web
*/

h1, h2{
  color: #BD1133;
  margin-top: 30px;
}

h4, h3{
	margin-bottom: 25px;
	font-weight: bold;
}

p {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: white;
}
a:hover,
a:focus {
  color:white;
}

/*CONTENEDORES*/
.container {
  background-color: #F1C308;
}

.row {
  margin-left: 15px;
 }

.col-md-6 {
  margin: 20px;
}

.col-md-5 {
  float: none;
  margin: 0 auto;
}
/*!CONTENEDORES*/


/*TABLAS*/
#tableUsuario {
  border: none;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 1em;
  margin: 0 auto;
  background-color: transparent;
  color: black;
}

table {
  background-color: #BD1133; /*Bordo*/
  color:#ffcc00; /*Amarillo*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-top: 15px;
}

.tablecirc {
  background-color: #BD1133; /*Bordo*/
  color:#ffcc00; /*Amarillo*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 15px;
}

.table tr:hover td{
  background-color: rgba(254, 254, 254, 0.2);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

table.data td.field{
	padding-right: 15px;
	color: #7E7E7E;
}

table.data td.{
	padding-bottom: 5px
}
/*!TABLA*/

#message_error {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 25px 0px 0px 0px;
    padding: 5px 5px 5px 10px
}

#message_val {
    background: #fff3f3;
    border: 1px solid green;
    color: green;
    margin: 25px 0px 0px 0px;
    padding: 5px 5px 5px 10px
}

/*MENU*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
#cssmenu {
  background: #BD1133;
  margin: 0;
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  /*position: relative;*/
  font-family: 'PT Sans', sans-serif;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
  z-index: 100;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #ff0000;
}
#cssmenu ul li ul li.has-sub:after {
  display: block;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #000000;
  z-index: 1;
  top: 12px;
  right: 15px;
}
#cssmenu ul li ul li.has-sub:before {
  display: block;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-left-color: #ff0000;
  z-index: 2;
  top: 14px;
  right: 15px;
}
#cssmenu ul li ul li a {
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  color: #ffcc00;
  letter-spacing: 0;
  display: block;
  width: 140px;
  padding: 11px 10px 11px 20px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #ffffff;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #ffffff;
}
#cssmenu ul li ul li:hover > ul {
  left: 170px;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #E70000;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: '';
  background: #ffcc00;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 15px;
}
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: '';
  border: 4px solid transparent;
  border-top-color: #e60000;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 20px;
}
#cssmenu > ul > li > a {
  color: #ffcc00;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #000000;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #000000;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #ff0000;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  display: none;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu > ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    -moz-transition: max-height 0.35s ease-out;
    -ms-transition: max-height 0.35s ease-out;
    -o-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #cssmenu > ul.open {
    max-height: 1000px;
    border-top: 1px solid rgba(110, 110, 110, 0.25);
  }
  #cssmenu ul {
    width: 100%;
  }
  #cssmenu ul > li {
    float: none;
  }
  #cssmenu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
  }
  #cssmenu ul > li:after {
    display: none;
  }
  #cssmenu ul li.has-sub > a:after,
  #cssmenu ul li.has-sub > a:before,
  #cssmenu ul li ul li.has-sub:after,
  #cssmenu ul li ul li.has-sub:before {
    display: none;
  }
  #cssmenu ul li ul,
  #cssmenu ul li ul li ul,
  #cssmenu ul li ul li:hover > ul {
    left: 0;
    position: relative;
  }
  #cssmenu ul li ul li,
  #cssmenu ul li:hover > ul > li {
    max-height: 999px;
    position: relative;
    background: none;
  }
  #cssmenu ul li ul li a {
    padding: 8px 20px 8px 35px;
    color: #ffcc00;
    width: auto;
  }
  #cssmenu ul li ul ul li a {
    padding: 8px 20px 8px 50px;
  }
  #cssmenu ul li ul li:hover > a {
    color: #000000;
  }
  #cssmenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffcc00;
    cursor: pointer;
  }
  #cssmenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffcc00;
    right: 20px;
    top: 25px;
  }
}
/*!MENU*/

/*MENU LOGIN*/
.dropdown-menu {
  background-color: #BD1133;
}

.dropdown-menu > li > a {
  color: #F1C308;
}

#loginmenu {
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    color: #ffcc00;
}
/*!MENU LOGIN*/

/*BOTONES*/
.btn-buscar {
  font-size:13px; 
  padding: 5px 10px; 
  color:white;
  background-color: #BD1133;
}
.btn-crearcirculo {
  font-size:15px; 
  padding: 5px 10px; 
  color:white;
  background-color: #BD1133;
}

.btn-login {
  color:#ffcc00;
  border-color:#BD1133;
  background-color: #BD1133;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  color: #ffcc00;
  background-color: #9C0825;
  border-color: #9C0825;
}

/*!BOTONES*/

/*BARRAS CONTENIDO*/

.pnl-circulo {
  margin-top: 15px;
  float:right;
  width:260px;
  padding-right:1px;
}

.pnl-circuloadmin {
  float:right;
  width:260px;
  padding-right:1px;
  padding-top:30px;
}

/*!BARRAS CONTENIDO*/


div#data-display{font-size: 15px}
div#data-display .row {margin-bottom: 10px}

div.well#actions{padding: 10px; background-color: #C22141; border-color:#F58F8F; color:yellow;}
div.well#actions a{color:yellow;}
div.well#actions h4{ margin-left: 10px; text-decoration: underline;}
div.well#actions .row {margin-left: 0px}

div#button-bar{margin-top: 20px}
div#button-bar a {color:yellow; background-color: #BD1133 }

table#table-list{margin-top: 0px;border-radius: 0px}
table#table-list tr:hover td{border-radius: 0px}
table#table-list a {color:yellow;}

